.banner-wrap {
    position: relative;
}

#bgvid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50px;
    z-index: 1;
}
.banner-wrap.index-banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
    border-radius: 50px;

}
.banner-home__content {
    z-index: 4;
}
/* .service__item-icon {
    background-color: green;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
} */
.service__item-icon img, .service-card-icon img {
    width: 100%;
    height: 65%;
    object-position: center center;
    object-fit: contain;
}
.service__item-content {
    width: calc(100% - 125px);
}

.doc-img {
    width: 25px;
}
small {
    font-size: 75%;
}

.pr-0 {
    padding-right: 0;
} 

.award-wrap {
    background: #fff;
    /* border-bottom: 1px solid #F5F5F5; */
    padding: 20px 35px 20px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.award-icon img {
    width: 55px;
    object-fit: contain;
}

.award-info .info-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}


.info-detail p {
    margin-bottom: 0 !important;
    line-height: 1.2;
}

.mb-20 {
    margin-bottom: 20px;
}

.info-foot {
    display: flex;
    /* align-items: center; */
    gap: 15px;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 15px;
}

.footer__widget-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.footer__widget-title h4 {
    margin: 0;
}
.office-image img {
    width: 30px;
}

.footer__widget {
    padding-left: 30px;
}
.footer-wrap .child-wrap:first-child .footer__widget {
    padding-left: 0px;
}

.footer__area-common.dark-green {
    background-color: #004080 !important;
}
.footer__border-bottom {
    border-color: #727272;
}
.footer__widget-title a:hover, .foot-info a:hover {
    color: #717171;
}
/* Services */
.service-number {
    color: transparent;
    -webkit-text-stroke: 1.5px #D6D9DD;
    font-size: 30px;
    margin-top: 57px;
    position: relative;
    z-index: 1;
}

.service-number::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    background: #D6D9DD;
    width: 272px;
    height: 1.5px;
}
.service-card-content {
    overflow: hidden;
    margin-bottom: 30px;
}
.service-card-content .inner-content {
    margin-top: 47px;
    margin-bottom: -30px;
}

.more-btn img {
    width: 75px;
    object-fit: contain;
}
.service-card-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  transition: all ease-in-out 0.5s;
  margin-bottom: 35px;
}

.service-card-item:hover {
    background-color: #254598;
    transition: all ease-in-out 0.5s;
}
.service-card-item:hover .inner-content h4, .service-card-item:hover .inner-content p {
    color: #fff;
}
.service-card-item .inner-content {
    transition: all ease-in-out 0.4s;
}
.service-card-item:hover .inner-content {
    margin-top: 20px;
    margin-bottom: 0;
    transition: all ease-in-out 0.4s;
}
.inner-content h4 {
    margin-bottom: 10px;
}

.job-cards .latest-team__item-media {
    margin-bottom: 35px;
}

.latest-team__item-media-img-title-text p.post-text {
    font-weight: 600;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.job-image-detail {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 30px;
}

.job-single-wrapper ul {
    margin-top: 25px;
    list-style-type: none;
    margin-left: 10px;
}
.job-single-wrapper ul li {
    margin-bottom: 7px;
    position: relative;
    padding-left: 20px;
}
.job-single-wrapper ul li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #254598;
    border-radius: 4px;
}

.job-sticky-wrapper, .sticky-wrapper {
    position: sticky;
    top: 100px;
}

.events-sec {
    padding: 85px 0;
}

.events-wrapper {
    border-radius: 16px;
    height: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 35px;
}

.events-wrapper:hover .event-image img {
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

.events-wrapper .event-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;

}

.events-wrapper .event-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(176deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 41%, rgba(0, 0, 0, 0.65) 96%);
    border-radius: 16px;
    z-index: 3;


}
.events-wrapper .event-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    transform: scale(1);
    transition: all ease-in-out 0.4s;
}

.event-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    color: #fff;
    z-index: 4;
    transition: all ease-in-out 0.4s;

}

.event-content .event-title {
    font-size: 28px;
    font-weight: 600;
}

.contact-info__area {
    padding: 85px 0;
}
.color-primary {
    color: #254598;
}
.service-list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d6d6d6;
    transition: all ease-in-out 0.4s;
}
.service-list:last-of-type {
    border: none;
}

.service-list:hover {
    padding-left: 15px;
    transition: all ease-in-out 0.4s;
}

.service-num {
    color: transparent;
    -webkit-text-stroke: 1px #254598;
    font-size: 22px;
    position: relative;
    z-index: 1;
}

.service-list .service-title {
    font-size: 24px;
    color: #254598;
    font-weight: 600;
}
.color-black {
    color: #727272 !important;
}

.choose-us {
    border-radius: 12px;
    overflow: hidden;
    margin-right: 35px;
}

.counter__item {
    border-right: 1px solid #fff;
    position: relative;
    z-index: 2;
}

.label-photo {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.photo-wrap .dropify-wrapper .dropify-message {
    display: none;
}
.photo-wrap {
    max-width: 255px;
    text-align: end;
    margin-left: auto;
}
.dropify-wrapper .dropify-errors-container ul {
    display: none;
}
.dropify-wrapper {
    border-radius: 50px;
    margin-bottom: 22px;
}
/* .dropify-wrapper.touch-fallback {
    height: 200px !important;
} */

.photo-wrap .dropify-wrapper {
    margin-bottom: 0;
}

.apply-now textarea {
    margin-bottom: 30px;
}
.apply-wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 50px;
}

.event-single .events-wrapper .event-image::before {
    display: none;
}

.required-doc .service-list {
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.required-doc .service-num {
    font-size: 20px;
}

.required-doc .service-list .service-title {
    font-size: 22px;
}
.breadcrumb__area {
    position: relative;
}


@media only screen and (max-width: 1200px) {
    .service__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .service__item-content {
        width: 100%;
    }
    .choose-us__content-wrapper-box-title {
        column-gap: 10px;
    }
    .footer3__item-2 {
        margin-left: 0;
    }
    .story-details__content-title {
        font-size: 34px;
    }
    .story-details__content-icon svg {
        height: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .tab-none {
        display: none;
    }
}
.tab-only {
    display: none;
}
@media only screen and (max-width: 991.9px) {
    .choose-us__media {
        max-width: 100%;
    }
    .banner-home .padding-space {
        padding-top: 0;
        padding-bottom: 0;
        height: 70vh;
    }
    .banner-home__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        width: 70%;
    }

    .tab-only {
        color: #fff;
        margin-top: 10px;
         display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    }

    .contact-info__content-2 {
        padding-top: 55px;
    }
    .story-details__media {
        margin-bottom: 55px;
    }
    .choose-us {
        margin-right: 0;
    }
    .photo-wrap {
        max-width: 255px;
        text-align: end;
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .choose-us__content-wrapper {
        flex-direction: column;
    }
    .choose-us__content-wrapper-box {
        width: 100%;
    }
    .countries__tab-content {
        column-gap: 20px;
    }
    .countries__tab-content__countries-name {
        width: calc(50% - 20px);
    }
    .counter__item {
        border-right: 0;
        border: 1px solid #fff;
        position: relative;
        padding: 20px 10px;
        margin-bottom: 20px;
        z-index: 2;
        border-radius: 12px;
    }
}
@media only screen and (max-width: 600px) {
        .banner-home .padding-space {
        padding-top: 0;
        padding-bottom: 0;
        height: calc(100vh - 80px);
    }
    .banner-home__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px 5px;
        width: 100%;
        padding-bottom: 35px;
    }
    .header__logo {
        max-width: 140px;
    }
    .banner-wrap.index-banner::after, #bgvid, .banner-home {
        border-radius: 20px;
    }
    .m-none {
        display: none;
    }

    .small-mt {
        margin-top: 30px;
    }

    .visa-category-2 .row {
        --bs-gutter-x: 1.5rem
    }
    .countries__tab-content {
        column-gap: 10px;
    }
    .countries__tab-content__countries-name {
        width: calc(50% - 10px);
    }
    .countrie-details__content h5 {
        font-size: 18px;
    }

    .service__slider-button-next, .service__slider-button-prev {
        display: none;
    }
    .mb-60 {
        margin-bottom: 30px !important;
    }
}


